.logo_block{
  font-size:2em;
  display:block;
  padding:10% 12% ;
  background-color:#221E1F ;
}
.logo_block2{
  font-size:1.5em;
  display:block;
  padding:10% 12% ;
  background-color:#221E1F ;
}

@media (max-width: 992px) {
.logo_block {
  font-size:4em;
}
.logo_block2{
  font-size:3.5em;
}

}